events {
	worker_connections  1024;
}

http {
	gzip on;
	gzip_vary on;

	server {
		listen 443 ssl;
		listen [::]:443 ssl;

		server_name debian.local;

		ssl_certificate {{ nginx_certificate_dest }};
		ssl_certificate_key {{ nginx_key_dest }};
		ssl_protocols TLSv1.2 TLSv1.3;
		ssl_session_timeout 1d;
    		ssl_session_cache shared:SSL:10m; 
		ssl_session_tickets off;
		ssl_prefer_server_ciphers on;

		# HSTS (ngx_http_headers_module is required) (63072000 seconds)
		add_header Strict-Transport-Security "max-age=63072000" always;

	    	# OCSP stapling
		ssl_stapling on;
		ssl_stapling_verify on;

		# verify chain of trust of OCSP response using Root CA and Intermediate certs
    		ssl_trusted_certificate {{ nginx_certificate_dest }}; 

		location / {
			proxy_pass http://heimdall:80/;
			proxy_http_version  1.1;
			proxy_cache_bypass  $http_upgrade;

			proxy_set_header Upgrade           $http_upgrade;
			proxy_set_header Connection        "upgrade";
			proxy_set_header Host              $host;
			proxy_set_header X-Real-IP         $remote_addr;
			proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto $scheme;
			proxy_set_header X-Forwarded-Host  $host;
			proxy_set_header X-Forwarded-Port  $server_port;
		}

		location /pihole/ {
			proxy_pass http://127.0.0.1:{{ pihole_webport }}/;
			proxy_http_version  1.1;
			proxy_cache_bypass  $http_upgrade;
		}

		location /qbittorrent/ {
			proxy_pass http://qbittorrent:8080/;
			proxy_http_version 1.1;
		}

		location /jackett/ {
			proxy_pass http://jackett:9117/;
			proxy_http_version 1.1;
		}

		location /bazarr/ {
			proxy_pass http://bazarr:6767/;
			proxy_http_version 1.1;
		}

		location /overseerr/ {
			proxy_pass http://overseerr:5055/;
			proxy_http_version 1.1;
		}

		location /prowlarr/ {
			proxy_pass http://prowlarr:9696/;
			proxy_http_version 1.1;
		}

		location /flaresolverr/ {
			proxy_pass http://flaresolverr:8191/;
			proxy_http_version 1.1;
		}

		location /sabnzbd/ {
			proxy_pass http://sabnzbd:6789/;
			proxy_http_version 1.1;
		}

		location /radarr/ {
			proxy_pass http://radarr:7878/;
			proxy_http_version 1.1;
		}

		location /sonarr/ {
			proxy_pass http://sonarr:8989/;
			proxy_http_version 1.1;
		}

		location /plex/ {
			proxy_pass http://plex:32400/;
			proxy_http_version 1.1;
		}
	}
}

pid /run/nginx.pid;
